{% extends "../base.html" %}

{% block title_section %}
    Login
{% endblock title_section %}

{% block content %}
    <h1>Login</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>
        Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
    </p>
{% endblock content %}
