{% extends 'base.html' %}

{% block title_section %}
  Order Summary
{% endblock %}

{% block content %}
  <title></title>
  <div class="container">
    <h1>Order Summary</h1>

    <h2>Order Details</h2>
    <p>User: {{ order_details.user.username }}</p>
    <p>Total Amount: {{ order_details.total }}</p>
    
    <h3>Items in Order</h3>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Apply Discount</th>
        </tr>
      </thead>
      <tbody>
        {% for order_item in order_items %}
          <tr>
            <td>{{ order_item.cart_item.product.name }}</td>
            <td>{{ order_item.cart_item.quantity }}</td>
            <td>{{ order_item.cart_item.price_cart }}</td>
            <td>
              <form method="POST">
                {% csrf_token %}
                <label for="discount_str">Discount Code:</label>
                <input type="text" id="discount_str" name="discount_str" required />
                <button type="submit">Apply Discount</button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No items in this order.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="buttons">
      <a href="{% url 'confirm_order' order_details.id %}">Confirm to Pay</a> <!-- Correctly passing order_details.id -->
    </div>
  </div>
{% endblock %}
